---
import GlobalStyles from '../components/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Steps from '../components/Steps.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';

// Define SEO metadata
const title =
  'Bay Area Junk Removal Services - San Jose, CA | Fast & Eco-Friendly';
const description =
  'Reliable junk removal services in San Jose, CA, and the Bay Area. We offer fast, eco-friendly solutions for residential and commercial clients. Get a free quote today and let us handle your clutter!';
const keywords =
  'junk removal, San Jose junk removal, Bay Area junk removal, junk hauling, waste removal, trash removal, eco-friendly junk removal, residential junk removal, commercial junk removal, San Jose CA, Bay Area, garbage removal';
const url = 'https://www.yourwebsite.com/junk-removal-san-jose';
const videoUrl = 'https://www.youtube.com/@JunkGone408';
const videoType = 'text/html';
---

<Layout {title} {description} {keywords} {url} {videoUrl} {videoType}>
  <GlobalStyles />
  <main>
    <Hero />
    <Services />

    <div class='section__title'>
      <h4 class='section__description'>LEAVE THE JUNK TO US!</h4>
      <h2 class='section__header'>
        Everything you need in a junk removal service
      </h2>
    </div>

    <About />
    <div class='section__title'>
      <h4 class='section__description'>TRASH REMOVAL MADE SIMPLE</h4>
      <h2 class='section__header'>Everything you need in a few steps</h2>
    </div>
    <Steps />
  </main>
</Layout>

<style lang='scss'>
  main {
    &:nth-child(even) {
      background-color: rgba(23, 34, 113, 0.94);
    }
  }

  .section__title {
    width: 70%;
    margin: 8rem auto;

    @media (max-width: 34em) {
      text-align: center;
      width: 90%;
    }
  }

  .section__description {
    color: aliceblue;
  }

  .section__header {
    color: var(--clr-secondary-100);
    padding: 0;
  }
</style>
